/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 400px;
    height: 400px;
    padding: 20px;
    box-shadow: 4px 4px 10px 1px #c0c4cc;
    background: #f3f3f3;
}

.list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.item {
    background: #fff;
}

.chat {
    position: relative;
    width: 250px;
    height: 440px;
    box-shadow: 4px 4px 10px 1px #c0c4cc;
}

div#app {
    display: flex;
    justify-content: space-around;
    margin: 200px auto 0;
    color: #3f3f3f;
}

.detail {
    width: 300px;
    height: 440px;
    box-shadow: 4px 4px 10px 1px #c0c4cc;
}

.detail-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}

.message {
    word-break: break-word;
}

.chat-item {
    display: flex;
    padding: 5px 10px;
}

.name {
    width: 30px;
}

.message {
    word-break: break-word;
    width: 200px;
}

.self-chat {
    flex-direction: row-reverse;
    text-align: right;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-left: 10px;
}

.text {
    width: 190px;
}

.send {
    padding: 5px 10px;
}

.chat-list {
    height: 390px;
    overflow: auto;
}